<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head",{titulo: "Optica"})%>
<body>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <form action="/autenticar" >
                    <h3 class="mb-5">Loggin</h3>
        
                    <div class="form-outline mb-4">
                    <input name="email" type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" />
                    
                    </div>
        
                    <div class="form-outline mb-4">
                    <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Clave"/>
                    
                    </div>
                    
                    <select class="form-select" aria-label="Default select example" name="tipo">                
                        <option value="1" selected>Vendedor</option>
                        <option value="2">Bodega</option>
                        <option value="3">Administrador</option>
                        <option value="4">Super</option>
                    </select>
                    
                    <br>
                    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                  
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div> 
</body>
<%- include("../partials/closeHead")%>
</html>